#gol-cmd
  //- Main cmds.
  a(href="#", alt="pattern library"): img#gol-cmd-lib.gol-cmd-items(src="../res/icons/lib-icon.png", alt="pattern library")
  span#gol-cmd-lib-desc.gol-cmd-items-desc pattern library
  a(href="#", alt="GOL status information"): img#gol-cmd-inf.gol-cmd-items(src="../res/icons/gol-info.png", alt="GOL status information")
  span#gol-cmd-inf-desc.gol-cmd-items-desc GOL status information
  a(href="#", alt="connected users"): img#gol-cmd-cli.gol-cmd-items(src="../res/icons/clients.png", alt="connected users")
  span#gol-cmd-cli-desc.gol-cmd-items-desc connected users
  a(href="#", alt="reset to default settings"): img#gol-cmd-reset.gol-cmd-items(src="../res/icons/reset.png", alt="reset settings")
  span#gol-cmd-reset-desc.gol-cmd-items-desc reset to default settings
  a(href="#", alt="zoom out"): img#gol-cmd-zoomout.gol-cmd-items(src="../res/icons/zoom-out.png", alt="zoom out")
  span#gol-cmd-zoomout-desc.gol-cmd-items-desc zoom out [-]
  a(href="#", alt="zoom in"): img#gol-cmd-zoomin.gol-cmd-items(src="../res/icons/zoom-in.png", alt="zoom in")
  span#gol-cmd-zoomin-desc.gol-cmd-items-desc zoom in [+]
  a(href="#", alt="draw patterns"): img#gol-cmd-draw.gol-cmd-items(src="../res/icons/draw.png", alt="draw patterns on the grid")
  span#gol-cmd-draw-desc.gol-cmd-items-desc draw patterns on the grid then send them
  a(href="#", alt="close all"): img#gol-cmd-close-all.gol-cmd-items(src="../res/icons/close.png", alt="close all side panes")
  span#gol-cmd-close-all-desc.gol-cmd-items-desc close all side panes
  //- pattern drawing commands.
  a(href="#", alt="close pattern panel"): img#gol-cmd-close-pattern-draw.gol-pattern-cmd-items(src="../res/icons/close-pattern-draw.png", alt="close pattern panel")
  span#gol-cmd-close-pattern-draw-desc.gol-cmd-items-desc close pattern panel
  a(href="#", alt="pattern library"): img#gol-cmd-pattern-lib.gol-pattern-cmd-items(src="../res/icons/pattern-lib.png", alt="pattern library")
  span#gol-cmd-pattern-lib-desc.gol-cmd-items-desc pattern library
  a(href="#", alt="send pattern"): img#gol-cmd-send-pattern.gol-pattern-cmd-items(src="../res/icons/send-pattern.png", alt="send pattern")
  span#gol-cmd-send-pattern-desc.gol-cmd-items-desc send the pattern
  a(href="#", alt="turn pattern"): img#gol-cmd-turn-pattern.gol-pattern-cmd-items(src="../res/icons/turn-pattern.png", alt="turn pattern")
  span#gol-cmd-turn-pattern-desc.gol-cmd-items-desc turn the pattern counter clockwise
  a(href="#", alt="zoom out"): img#gol-cmd-zoomout-pattern.gol-pattern-cmd-items(src="../res/icons/zoom-out-pattern.png", alt="zoom out")
  span#gol-cmd-zoomout-pattern-desc.gol-cmd-items-desc zoom out [-]
  a(href="#", alt="zoom in"): img#gol-cmd-zoomin-pattern.gol-pattern-cmd-items(src="../res/icons/zoom-in-pattern.png", alt="zoom in")
  span#gol-cmd-zoomin-pattern-desc.gol-cmd-items-desc zoom in [+]