#gol-cmd
  a(href="#", alt="pattern library"): img#gol-cmd-lib.gol-cmd-items(src="../res/icons/lib-icon.png", alt="pattern library")
  span#gol-cmd-lib-desc.gol-cmd-items-desc pattern library
  br
  a(href="#", alt="GOL status information"): img#gol-cmd-inf.gol-cmd-items(src="../res/icons/gol-info.png", alt="GOL status information")
  span#gol-cmd-inf-desc.gol-cmd-items-desc GOL status information
  br
  a(href="#", alt="connected users"): img#gol-cmd-cli.gol-cmd-items(src="../res/icons/clients.png", alt="connected users")
  span#gol-cmd-cli-desc.gol-cmd-items-desc connected users
  br
  a(href="#", alt="reset to default settings"): img#gol-cmd-reset.gol-cmd-items(src="../res/icons/reset.png", alt="reset settings")
  span#gol-cmd-reset-desc.gol-cmd-items-desc reset to default settings
  br
  a(href="#", alt="zoom out"): img#gol-cmd-zoomout.gol-cmd-items(src="../res/icons/zoom-out.png", alt="zoom out")
  span#gol-cmd-zoomout-desc.gol-cmd-items-desc zoom out [-]
  br
  a(href="#", alt="zoom in"): img#gol-cmd-zoomin.gol-cmd-items(src="../res/icons/zoom-in.png", alt="zoom in")
  span#gol-cmd-zoomin-desc.gol-cmd-items-desc zoom in [+]
  br
  a(href="#", alt="draw patterns"): img#gol-cmd-draw.gol-cmd-items(src="../res/icons/draw.png", alt="draw patterns on the grid")
  span#gol-cmd-draw-desc.gol-cmd-items-desc draw patterns on the grid then send them
  br
  a(href="#", alt="close all"): img#gol-cmd-close-all.gol-cmd-items(src="../res/icons/close.png", alt="close all side panes")
  span#gol-cmd-close-all-desc.gol-cmd-items-desc close all side panes