#gol-status-data
  span#gol-status-data-universpop.gol-status-data-item
  br
  span#gol-status-data-xy.gol-status-data-item
  br
  span#gol-status-data-framepop.gol-status-data-item
  br
  span#gol-status-data-cellsize.gol-status-data-item